.form {
  @apply m-0 px-2;
  input,textarea {
    @apply focus:outline-none border focus:border-accent w-full h-[40px] px-2 rounded-md;
  }
  .select-field {
    [class*="control"] {
      height: 30px;
      @apply rounded-md focus-within:border-primary ;
    }

    [class*="ValueContainer"] {
      height: 95%;
      align-content: space-around;
      //font-size: 20px !important;
      @apply flex items-center justify-center;
      [class*="singleValue"],[class*="placeholder"] {
      }
      [class*="placeholder"]{
        margin:0 !important;
      }
    }
  }
}

.btn {
  @apply focus:outline-none text-white px-2 bg-primary rounded-md h-10 disabled:bg-neutral-400;
}

.title {
  @apply text-left text-xl font-bold leading-9 tracking-tight;
}


