.container {
  @apply box-border p-8;
  .header {
    @apply flex justify-between;
    .headerTitle {
      @apply text-3xl font-semibold;
    }
    .headerBtn {
      @apply bg-primary py-1.5 px-2.5 rounded text-white;
    }
  }
  .content {
    @apply bg-white box-border mt-9 border rounded shadow-xl border-slate-300;
    header {
      @apply flex justify-between box-border px-4 py-5 border-solid border-b border-slate-300 items-center;
      select {
        @apply border py-1.5 rounded px-5 border-slate-300 h-10;
      }
    }
  }
}