@tailwind base;
@tailwind components;
@tailwind utilities;

//li {
//  @apply mr-5;
//}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
table {
  @apply w-full border-collapse border;
  thead {
    @apply bg-primary text-white;
    th {
      @apply py-2 px-4 text-left border;
    }
  }
  tbody {
    tr {
     @apply odd:bg-[#f2f2f2];
    }
  }
  td, th {
    @apply border p-2;
  }
}
li {
  @apply mr-4
}
textarea {
  @apply resize-none w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-primary;
}
input, select {
  @apply focus:outline-none focus:border-primary;
}
